<section id="viewallcontacts" class="content">
    <div class="form-horizontal">
        <div class="form-heading">
            <h2>View All Contacts</h2>
        </div>
        <h2 style="text-align: center">{{ contact }}</h2>  
        <div *ngFor='let contacts of contacts' class='people-wrapper'>
            <div class="char-name">{{ contacts.first_name }} {{ contacts.last_name }}</div>
            <p style="text-align: left">
                Address: {{ contacts.address }}   
            </p>
            <p style="text-align: right; margin-top: -22px">
                City: {{ contacts.city }}
            </p>
            <p style="text-align: left">
                State: {{ contacts.state }}
            </p>
            <p style="text-align: right; margin-top: -22px">
                Zip Code: {{ contacts.zipcode }}
            </p>
        </div><br /><br />
    </div> <!-- form-horizontal -->
</section>


