<div class="main-header">
    <div>
        <a href="http://localhost:4200" id="logo" target="_blank">ROLODEX</a>

        <label for="toggle-1" class="toggle-menu"><ul><li></li> <li></li> <li></li></ul></label>
        <input type="checkbox" id="toggle-1">

        <nav>
            <ul>
                <li><a href="#home"><i class="routes"></i>Home</a></li>
                <li><a href="#viewallcontacts"><i class="routes-"></i>View All Contacts</a></li>
                <li><a href="#createcontacts"><i class="routes"></i>Create Contacts</a></li>
                <li><a href="#myprofile"><i class="routes"></i>My Profile</a></li>
                <li><a href="#logout"><i class="routes"></i>Log Out</a></li>
            </ul>
        </nav>
    </div>

</div>

<section id="home" class="content">
    <h2>Home</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</section>

<section id="viewallcontacts" class="content">
    <h2>View All Contacts</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</section>

<section id="createcontacts" class="content">
    <h2>Create Contact</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</section>

<section id="myprofile" class="content">
    <h2>My Profile</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</section>

<footer>
    <ul class="social">
        <li>
            <a href="#" target="_blank">
                <i class="icon-twitter"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="icon-facebook"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="icon-linkedin"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="icon-pinterest"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="icon-google-plus"></i>
            </a>
        </li>
        <li>
            <a href="#" target="_blank">
                <i class="icon-instagram"></i>
            </a>
        </li>
    </ul>
</footer>