<section id="viewallcontacts" class="content">
    <div class="form-horizontal">
        <div class="form-heading">
            <h2>{{ title }}</h2>
        </div>
        <!-- <h2 style="text-align: center">{{ contact }}</h2>   -->
        <div *ngFor='let user of allUsers' class='name-wrapper'>
        <div class="name" [(ngModel)]="users">
                {{ allUsers.username }}
                {{ users.username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;✎
        </div>

        <!-- <img *ngIf="contact.photo" src="{{contact.photo}}" alt="Photo"> -->
        <!-- <p id="created_at">Created At: {{contact.created_at}}</p>
        <p id="updated_at">Updated At: {{contact.updated_at}}</p> -->
        <p id="name">Name: {{users.name}}</p>
        <p id="email">Email: {{users.email}}</p>
        <p id="address">Address: {{users.address}}</p>
        </div>
    </div> <!-- form-horizontal -->
</section>


